<pre class="prettyprint">
sender.bcc = "jhon@wso2.com";
</pre>
	
<pre class="prettyprint">
var bcc = new Array();
bcc[0] = "jonathan@wso2.com";
bcc[1] = "nuwan@wso2.com";
sender.bcc = bcc;
</pre>

<p>
	This is an optional property that denotes the "bcc" address of the email to be sent. (Optionally an array of Strings denoting the "bcc" addresses can be passed as below.)
</p>