<pre class="prettyprint">
sender.cc = "madhuka@wso2.com"; 
</pre>
	
<pre class="prettyprint">
var cc = new Array();
cc[0] = "nuwan@wso2.com";
cc[1] = "teague@wso2.com";
sender.cc= cc; 
</pre>

<p>
	This is an optional property that denotes the "cc" address of the email to be sent. (Optionally an array of Strings denoting the "cc" addresses can be passed as above.)
</p>
