<pre class="prettyprint">
sender.html = "&lt;h1&gt;Jaggery was Released on January 2012&lt;/h1&gt;";
// Setthing the HTML content as a String 
</pre>
	
<pre class="prettyprint">
sender.html = "&lt;h1&gt;Jaggery was Released on January 2012&lt;/h1&gt;";
// Setting the HTML content as an XML object 
</pre>

<p>
	An optional property to set the body of the email to be sent. This function can be used to send HTML mail.
</p>

 
										

										