<pre class="prettyprint">
var sender = new email.Sender("smtp.example.com", "25", "username@example.com", "password"); 
</pre>
	
<pre class="prettyprint">
var sender = new email.Sender("smtp.gmail.com", "25", "username@gmail.com", "password", "tls");
</pre>

<p>
	Adding "tls" as the fifth argument will enable TLS for the communication
</p>