<pre class="prettyprint">
sender.to = "nuwan@wso2.com"; 
</pre>
	
<pre class="prettyprint">
var to = new Array();
to[0] = "nuwan@wso2.com";
to[1] = "teague@wso2.com";
sender.to = to; 
</pre>

<p>
	This is a required property that denotes the "to" address of the email to be sent. (Optionally an array of Strings denoting the "to" addresses can be passed as above.)
</p>