<pre class="prettyprint">
var db = new Database("jdbc:h2:demo", "admin", "admin");
</pre>
	
<p>
	Returns Database object for database communication
</p>

<pre class="prettyprint">
var config = {
    defaultAutoCommit: boolean,
    defaultReadOnly: boolean,
    defaultTransactionIsolation: "String",
    defaultCatalog: "String",
    maxActive: number,
    maxIdle: number,
    minIdle: number,
    initialSize: number,
    maxWait: number,
    testOnBorrow: boolean,
    testOnReturn: boolean,
    testWhileIdle: boolean,
    validationQuery: "String",
    accessToUnderlyingConnectionAllowed: boolean,
    logAbandoned: boolean,
    connectionProperties: "String",
    initSQL: "String",
    validationInterval: number,
    maxAge: number,
    suspectTimeout: number
}
var db = new Database("jdbc:h2:demo", "admin", "admin", config);
</pre>

<p>Returns Database object for database communication with optional configurations </p>