<pre class="prettyprint">
var path = "/foo.txt";
var file = new File(path);
print(file.del())
</pre>
	
<p>
	Deletes this file from the file system. Returns true or false depending on the success. 
</p>



	



