<pre class="prettyprint">
var file = new File("readme.txt");
file.open("r+"); 
</pre>
	
<p>
	File can be opened for read(r), write(w), append(a), read+write(r+), write+read(w+), append+read(a+)
</p>



	



