<pre class="prettyprint">
var file = new File("readme.txt");
file.open("r");
print(file.readAll());
file.close();
</pre>
	
<p>
	Reads all the content in the file and returns a String representation of the content. Users are required to open the file for reading before reading from the file.
</p>

<p>
If the file is not open for either reading or writing or appending, then calling this will automatically open the file for reading.
</p> 
	



