<pre class="prettyprint">
var path = "/foo.txt";
var file = new File(path);
file.saveAs("/newFile.txt");
</pre>
	
<p>
	Save the file to the given target file. Returns True if the file was successfully moved. 
</p>



	



