<pre class="prettyprint">
var dataStore = new MetadataStore("admin", "admin");
var collection = dataStore.newCollection();
collection.addProperty("company", "WSO2");
</pre>
	
<p>
	adding property for collection 
</p>
