<pre class="prettyprint">
webSocket.onopen = function (stream) { 
	log.info('Client Open : ' + stream.toString());
};
</pre>
	
<p>
	Create the instance that will process when socket connection is established. 
</p>