<pre class="prettyprint">
webSocket.onbinary = function (stream) { 
	log.info('Client Streamed : ' + stream.toString()); 
};
</pre>
	
<p>
	Create the instance that will process this inbound connection for stream. 
</p>