<pre class="prettyprint">
webSocket.ontext = function (data) { 
	log.info('Client sent : ' + data);
};
</pre>
	
<p>
	Create the instance that will process this inbound connection for text and allow to handle a GET request. 
</p>