<pre class="prettyprint">
var getVersion = stub.services['Version'].operations['getVersion'];
print(getVersion.request(null)); 
</pre>
<p>
	request() is a part of the operations for a given service.
</p>