<module name="carbon" xmlns="http://wso2.org/projects/jaggery/module.xml">
    <!-- scripts -->
    <script>
        <name>osgi</name>
        <path>scripts/osgi.js</path>
    </script>
    <script>
        <name>tenant</name>
        <path>scripts/tenant.js</path>
    </script>
    <script>
        <name>server</name>
        <path>scripts/server.js</path>
    </script>
    <script>
        <name>config</name>
        <path>scripts/config.js</path>
    </script>
    <script>
        <name>user</name>
        <path>scripts/user.js</path>
    </script>
    <script>
        <name>registry</name>
        <path>scripts/registry.js</path>
    </script>
    <script>
        <name>registry-osgi</name>
        <path>scripts/registry-osgi.js</path>
    </script>
</module>