<pre class="prettyprint">
var dataStore = new MetadataStore("admin", "admin");
var resource = dataStore.newResource();
resource.addProperty("company", "WSO2");
</pre>
	
<p>
	adding property for resource 
</p>


