<pre class="prettyprint">
xhr.open(method,url,async);
</pre>
<p>

	Specifies the type of request, the URL, whether the request should be handled asynchronously or not, and other optional attributes of a request.
</p>
<ul>

	<li>
		method: the type of request: GET or POST
	</li>
	<li>
		url: the location of the file on the server
	</li>
	<li>
		async: true (asynchronous) or false (synchronous)
	</li>
</ul>
