<p>
	Retrieves the friendly HTTP status of the request. Holds the status of the XMLHttprequest. Changes from 0 to 4
</p>
<ul>
	<li>
		0: xhr request not initialized
	</li>
	<li>
		1: server connection established
	</li>
	<li>
		2: request received
	</li>
	<li>
		3: processing request
	</li>
	<li>
		4:request finished and response is ready
	</li>
</ul>