<pre class="prettyprint">
var dataStore = new MetadataStore("username", "password");
boolean existance = dataStore.resourceExists("middleware/wso2/products");
</pre>
	
<p>
	This method returns true or false depending on the existence of either a Resource or a Collection in the specified path.
</p>
<p>
	Above code returns true if a resource exists in the path /_system/governance/middleware/wso2/products. 
</p>
