<pre class="prettyprint">
request.getAllCookies()
</pre>
	
<p>
	Returns an object with cookies.
</p>

<pre class="prettyprint">
{ 
	"user" : { "name": "user", ..... }, 
	"remember" : { "name": "remember", ..... }
}
</pre>