<pre class="prettyprint">
request.getCookie(name)
</pre>
	
<p>
	Returns a cookie object.
</p>

<pre class="prettyprint">
{ 
	"name": "user",
	"value": "ruchira",
	"domain": "jaggeryjs.org", 
	"maxAge": 100000, 
	"secure": true, 
	"path": "/", 
	"comment": "Authenticated user"
}
</pre>
