<h1>Editor</h1>
<br>
<ul class="ul-tools">
	<li><a href="#intellij"><i class="fa fa-angle-right"></i> IDE support for IntelliJ IDEA - Ultimate</a></li>
	<li><a href="#devs"><i class="fa fa-angle-right"></i> IDE support for WSO2 Developer Studio</a></li>
</ul>
<hr>

<h2>IDE support for IntelliJ IDEA - Ultimate <a class="bookmark" id="intellij"></a></h2>

<h3>Introduction</h3>

<p>
	Jaggery Syntax highlighting plugin enables IntelliJ IDEA IDE to assist development in
	Jaggery. It provides syntax highlighting and code completion for Jaggery, JavaScript and HTML so
	far.
	it provides code formatting for HTML. So developer can develop a .jag file conveniently in lesser
	amount of time with the assistance given by IDE. </b>
</p>

<h3>Installation</h3>

<ol class="steps1">

	<li>
		<a href="http://www.jetbrains.com/idea/download/">Download </a> IntelliJ IDEA if you haven't done so far.(Make sure you download the ultimate edition).
	</li>
	IDE support(IntelliJ IDEA- Ultimate)
	<li>
		<a href="http://plugins.intellij.net/plugin?pr=idea&pluginId=7108">Download </a> the plugin.
	</li>

	<li>
		Go to <b>File</b> --> <b>settings</b>.
	</li>
	<li>
		Choose plugins under <b>IDE settings</b>.
	</li>
	<li>
		Click install plugin from disk.
	</li>
	<li>
		Choose the plugin and click ok.
	</li>
	<li>
		Restart the IDE.
	</li>

</ol>

<h3>Open file and edit the content </h3>

<ol class="steps2">
	<li>
		Open your project.
	</li>
	</br>
	<img src="/themes/ROOT/img/createnewproject.png" alt="" class="config_thumb" align="middle" width=""/>
	</br>
	</br>
	</br>
	<li>
		Right click on the directory that you need to have your <b>.jag</b> file in.
	</li>
	<li>
		Go to New --> File.
	</li>
	<li>
		Enter the name with the <b>.jag</b> extension.
	</li>
	</br>
	<img src="/themes/ROOT/img/createfile.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>
	<li>
		Click ok.
	</li>

	<li>
		You will notice that new file is created with .jag extension. And JaggeryLibrary is added to External Libraries.
	</li>
	</br>
	<img src="/themes/ROOT/img/aftercreatingfile.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>
	<li>
		Enter the content as you wish. Entering of HTML content is shown with the javascript support.
	</li>
	</br>
	<img src="/themes/ROOT/img/typehtml.png" alt="" class="config_thumb" align="middle"/> </br></br></br> <img src="/themes/ROOT/img/javascriptoutoftags.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>
	<li>
		Edit the Jaggery content out of the HTML tags.
	</li>
	</br>
	<img src="/themes/ROOT/img/getallthemethodsforrequest.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>
	<li>
		Create object and access its operations.
	</li>
	</br>
	<img src="/themes/ROOT/img/createobject.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>
	<li>
		Show parameter types when creating an operation.
	</li>
	</br>
	<img src="/themes/ROOT/img/methodparam.png" alt="" class="config_thumb" align="middle"/>
	</br>
	</br>
	</br>

</ol>

<hr>

<h2>IDE support for WSO2 Developer Studio <a class="bookmark" id="devs"></a></h2>

<div class="bs-callout">
	<p>Please refer to <a href="https://docs.wso2.org/display/DVS360/Creating+Jaggery+Artifacts" >WSO2 Developer Studio Documentation</a> on how to create and modify Jaggery projects and files</p>
	
</div>
