<hr>
<div class="row-fluid row-white row-footer">
	<div class="span3">
<span class="muted"> &copy; 2014 WSO2 Inc. All Rights Reserved. </span>
	</div>
	<div class="span9 txt-right">
		<div class="pull-right">

			<a id="logo-wso2" href="http://www.wso2.com" target="_blank"></a>

		</div>

	</div>
</div>
