<ul class="nav">
	{{#each pages}}
		<li {{#if this.active}} class="active" {{/if}}>
			<a href="{{this.url}}">{{this.page}}</a>
		</li>
	{{/each}}
    <li id="search">
        <input type="search" id="jaggerySearch" style=" margin-top: 20px;margin-left: 105px;">
    </li>
</ul>