<h1>A list of sample apps created using Jaggery</h1>
<br>
<br>
<div class="row-fluid">
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/samples-taskmaster.png">
	</div>
	<div class="span6">
		<h2><i class="fa fa-play-circle-o"></i> TaskMaster
			<a class="bookmark" id="TaskMaster"></a>
		</h2>
		<br>
		<p>
			The TaskMaster is a task manager app which makes use of the session in Jaggery. The tasks are saved and can be viewed via the main page.
		</p>
		<br>
		<br>
		<p>
			<a class="btn btn-outline btn-large" href="http://jaggeryjs.org/taskmaster/index.jag" target="_blank"><i class="fa fa-play"></i> Demo</a>
			<a class="btn btn-large btn-outline2" href="https://github.com/wso2/jaggery/tree/master/apps/taskmaster" target="_blank"><i class="fa fa-file-text"></i> Source</a>
		</p>
	</div>

</div>

<hr class="hr-large">

<div class="row-fluid">
	
	<div class="span6">
		<h2><i class="fa fa-play-circle-o"></i> Shout!
			<a class="bookmark" id="Shout"></a>
			</h2>
		<br>
		<p>
			Shout! is an app that will enable users to view 3 major social feeds and publish to all three of them using
             the one client. Shout! requires the user to authenticate and approve the app before being able to
             read / publish to their feeds.
		</p>
		    <p><span class="label warning">Important</span> Sample requires you to be online</p>
		<br>
		
		<p>
			<a class="btn btn-outline btn-large" href="http://jaggeryjs.org/shout/" target="_blank"><i class="fa fa-play"></i> Demo</a>
			<a class="btn btn-large btn-outline2" href="https://github.com/wso2/jaggery/tree/master/apps/shout" target="_blank"><i class="fa fa-file-text"></i> Source</a>
		</p>
	</div>
	
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/samples-shout.png">
	</div>

</div>

<hr class="hr-large">

<div class="row-fluid">
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/samples-freshometer.png">
	</div>
	<div class="span6">
		<h2><i class="fa fa-play-circle-o"></i> Freshometer <a class="bookmark" id="Freshometer"></a></h2>
		<br>
		<p>
			The Fresh-o-meter app allows you to search for any movie title, and retrieve its information (Cast, Movie Poster, Release year, Plot and rating) as well as related videos from youtube. it acts as a central movie information search engine.
		</p>
		<p><span class="label warning">Important</span> Sample requires you to be online</p>
		
		<br>
		<p>
			<a class="btn btn-outline btn-large" href="http://jaggeryjs.org/freshometer/index.jag" target="_blank"><i class="fa fa-play"></i> Demo</a>
			<a class="btn btn-large btn-outline2" href="https://github.com/wso2/jaggery/tree/master/apps/freshometer" target="_blank"><i class="fa fa-file-text"></i> Source</a>
		</p>
	</div>

</div>

<hr class="hr-large">

<div class="row-fluid">
	
	<div class="span6">
		<h2><i class="fa fa-play-circle-o"></i> Jaggery Documentation <a class="bookmark" id="Jaggery"></a></h2>
		<br>
		<p>
			The Documentation section of the jaggery site runs on Jaggery. it is the centralized and in-depth area to view descriptions, demos and samples and try out jaggery code. The documentation site also includes downloads and sample apps.
		</p>
		   
		<br>
		
		<p>
			<a class="btn btn-outline btn-large" href="http://jaggeryjs.org" target="_blank"><i class="fa fa-play"></i> Demo</a>
			<a class="btn btn-large btn-outline2" href="https://github.com/wso2/jaggery/tree/master/apps/ROOT" target="_blank"><i class="fa fa-file-text"></i> Source</a>
		</p>
	</div>
	
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/samples-jaggery.png">
	</div>

</div>

<hr class="hr-large">

<div class="row-fluid">
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/samples-coffee.png">
	</div>
	<div class="span6">
		<h2><i class="fa fa-play-circle-o"></i> Coffee Shop REST sample <a class="bookmark" id="Coffee"></a></h2>
		<br>
		<p>
			The coffee shop sample will explain RESTful application features with Jaggery. it is a nice client end user interface where user can make order for coffee. There are main seven REST calls happen in this application with PUT, POST, GET and DELETE. This sample contains database connection, URL mapping and web request in jaggery
		</p>
		<br>
	
		<p>
			<a class="btn btn-outline btn-large" href="http://jaggeryjs.org/coffeeshop/" target="_blank"><i class="fa fa-play"></i> Demo</a>
			<a class="btn btn-large btn-outline2" href="https://github.com/wso2/jaggery/tree/master/apps/coffeeshop" target="_blank"><i class="fa fa-file-text"></i> Source</a>
		</p>
	</div>

</div>
