<div class="span3 sidebar">
	<ul class="">
		<li>
			<a href="#TaskMaster"><i class="fa fa-play-circle"></i> TaskMaster </a>
		</li>
		<li>
			<a href="#Shout"><i class="fa fa-play-circle"></i> Shout! </a>
		</li>
		<li>
			<a href="#Freshometer"><i class="fa fa-play-circle"></i> Freshometer </a>
		</li>
		<li>
			<a href="#Jaggery"><i class="fa fa-play-circle"></i> Jaggery Documentation </a>
		</li>
		<li>
			<a href="#Coffee"><i class="fa fa-play-circle"></i> Coffee Shop REST sample</a>
		</li>

	</ul>
</div>

