<div class="span3 sidebar sidebar-about">
	<ul class="">
		<li>
			<h3>jag.ger.y</h3>
			<h4><i>[jag-uh-ree]</i></h4>
			<h4><i>noun</i></h4>
			<p>
				a coarse, dark sugar, especially that made from the sap of East Indian palm trees.
			</p>
		</li>
	</ul>
</div>