<div class="span3 sidebar">
	<ul class="">
		<li>
			<a href="/editor.jag"><i class="fa fa-wrench"></i> Editor </a>
		</li>
		<li>
			<a href="/debugger.jag"><i class="fa fa-wrench"></i> Debugger</a>
		</li>
	</ul>
</div>

