<div class="span3 sidebar">
	<ul class="">
		<li>
			<a href="#settingup"><i class="fa fa-check"></i> Setting up Jaggery </a>
		</li>
		<li>
			<a href="#helloworld"><i class="fa fa-check"></i> The "Hello World" Jaggery App</a>
		</li>
		<li>
			<a href="#deploying"><i class="fa fa-check"></i> How To Deploy A Jaggery App </a>
		</li>
		<li>
			<a href="#jaggeryserver"><i class="fa fa-check"></i> Jaggery Server </a>
		</li>
		<li>
			<a href="#commandline"><i class="fa fa-check"></i> Jaggery Command Line Client</a>
		</li>
		<li>
			<a href="#commands"><i class="fa fa-check"></i> The List Of Commands </a>
		</li>
		<li>
			<a href="#shell"><i class="fa fa-check"></i> The Shell Mode</a>
		</li>
		
	</ul>

</div>






