<h1>A list of tools you can use together with Jaggery</h1>
<br>
<br>
<div class="row-fluid">
	<div class="span6 img-container">
		<img src="/themes/ROOT/img/editor.png">
	</div>
	<div class="span6">
		<h2><i class="fa fa-pencil-square"></i> Editor</h2>
		<br>
		<p>
			Currently IDE support is available for <strong>IntelliJ IDEA Ultimate Edition</strong> and <i>Jaggery Editor</i> of <strong>WSO2 Developer Studio</strong> enbling you to create .jag file on your own with syntax highlighting and code completion support for Jaggery, HTML and Javascript.
		</p>
		<br>
		<p>
			<a class="btn btn-outline btn-large" href="/editor.jag">Learn more</a>
		</p>
	</div>

</div>

<hr class="hr-large">
<div class="row-fluid">

	<div class="span6">
		<h2><span class="fa-stack" style="font-size:18px"> <i class="fa fa-bug fa-stack-1x"></i> <i class="fa fa-ban fa-stack-2x"></i> </span> Debugger</h2>
		<br>
		<p>
			Jaggery debugging feature is enabled by the means of Rhino JavaScript Debugger. Eclipse IDE has plugin support for Remote Javascript debugging with Rhino. Support is given for both client and server side.This feature is currently in the pre-alpha phase.
		</p>
		<br>
		<p>
			<a class="btn btn-outline btn-large" href="/debugger.jag">Learn more</a>
		</p>
	</div>

	<div class="span6 img-container">
		<img src="/themes/ROOT/img/debugger.png">
	</div>

</div>

