<pre class="prettyprint">
feed.category[i]
</pre>
<p>
	Returns the i th category of the feed.
</p>
<pre class="prettyprint">
feed.category = ["cat1","cat2"];
</pre>
<p>
	Setting an array of categories to the feed. 
</p>







