<pre class="prettyprint">
feed.contributors[i]
</pre>
<p>
	Returns the i th contributor of the feed.
</p>
<pre class="prettyprint">
feed.contributors = ["cont1","cont2"];
</pre>
<p>
	Setting an array of contributor to the feed. 
</p>
	







