<pre class="prettyprint">
feed.entries;
</pre>
<p>

	Returns the complete set of entries contained in this feed.
</p>
<pre class="prettyprint">
feed.entries = entryList;
</pre>
<p>setting an entry list for to feed.</p> 