<pre class="prettyprint">
feed.icon

</pre>
<p>
	Returns the icon URL of this feed.
</p>
<pre class="prettyprint">
feed.icon = "http://abc.blogspot.com/RSS_Feed_Button.jpg";
</pre>
<p>
	Setting icon URL of this feed.
</p>

