<pre class="prettyprint">
feed.links[i]
</pre>
<p>
	Returns the i th location of the feed.
</p>
<pre class="prettyprint">
feed.links = ["link1","link2"];
</pre>
<p>
	Setting locations of the feed.
</p>

