<pre class="prettyprint">
feed.updated
</pre>
<p>
	Returns the last updated date of the feed.
</p>
<pre class="prettyprint">
var d1 = new Date("March 13, 2013 11:13:00")
feed.updated = d1;
</pre>
<p>
	Setting the last updated date of the feed.
</p>

