<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="as-integration-pox-security-tests" preserve-order="true" parallel="false">
    <!--<packages>-->
        <!--<package name="org.jaggeryjs.integration.tests.aarservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.carbonappservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.deployedmoduleservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.helloworldsampleservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.jarservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.jaxrssampleservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.jaxwssampleservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.jndi"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.jsonservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.loginlogoutservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.mtomservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.qualityofservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.rest"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.sampleservices.*"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.security"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.springservice"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.webapp.*"/>-->
        <!--<package name="org.jaggeryjs.integration.tests.webappsampleservice"/>-->
    <!--</packages>-->

        <classes>
            <class name="org.jaggeryjs.integration.tests.jaggery.ApplicationObjectTestCase"/>
            <!--class name="org.jaggeryjs.integration.tests.aarservice.AARServiceTestCase"/-->
            <!--<class name="org.jaggeryjs.integration.tests.rest.test.poxsecurity.POXSecurityVerifyPostMethod"/>-->
        </classes>
</test>
</suite>
